<div class="container">
	<div class="card" style="width: 30rem;">
	 
	  <div class="card-body">
	    <h5 class="card-title"><%= @l_article.title %></h5>
	    <p class="card-text"><%= @l_article.content %></p>
	    <a href="/articles" class="btn btn-primary">Retourner à l’index</a>
	  </div>
	</div>
</div>